
<div class="main-page" >
  <mat-card id="search-card">
    <mat-form-field appearance="outline" id="search-field">
        <mat-label>Search tool</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search tool">
    </mat-form-field>
</mat-card>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
          <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="totalRoomCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of rooms </th>
          <td mat-cell *matCellDef="let element"> {{element.totalRoomCount}} </td>
        </ng-container>

        <ng-container matColumnDef="bookingStartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Check in </th>
          <td mat-cell *matCellDef="let element"> {{element.bookingStartDate | date: "MMMM d, y"}} </td>
        </ng-container>

        <ng-container matColumnDef="bookingEndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Check out </th>
          <td mat-cell *matCellDef="let element"> {{element.bookingEndDate | date: "MMMM d, y"}} </td>
        </ng-container>

        <ng-container matColumnDef="bookingStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.bookingStatus}} </td>
        </ng-container>

     <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="warn" (click)="deleteEntry(row)">Delete</button>
            </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div id="logout-button">
    <button mat-raised-button color="primary" (click)="logOut()">LOG OUT</button>
  </div>
</div>
